@import "libs/reset";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap");

@import "base/variables";
@import "base/mixins";

@import "blocks/nav";
@import "blocks/promo";
@import "blocks/projects";
@import "blocks/section";
@import "blocks/footer";
@import "blocks/media";

html,
body {
  font-family: "DM Sans", sans-serif;
  letter-spacing: -0.5px;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 80px);
  background-color: var(--bg-color);
  color: var(--text-color);
}

.container {
  margin: 0 auto;
}
