@media (min-width: 1440px) {
  .container {
    max-width: 1170px;
  }
}

@media (max-width: 1439px) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .projects {
    &__list {
      gap: 25px;
    }
    &__item {
      max-width: 345px;
    }
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .hamburger {
    display: flex;
  }
  .nav {
    &__list {
      order: 3;
      display: none;
      column-gap: 20px;
    }
    &__list.active {
      display: flex;
    }
    &__row {
      justify-content: space-between;
      row-gap: 30px;
    }
  }
  .promo {
    &__title {
      font-size: 35px;
      span {
        font-size: 52px;
      }
    }
  }
  .projects {
    padding: 40px 0;
    &__title {
      font-size: 40px;
    }
    &__list {
      margin-top: 40px;
    }
    &__item {
      &-title {
        font-size: 22px;
      }
    }
  }
  .section {
    padding: 105px 0 40px;
    &__title {
      font-size: 40px;
    }
    &__subtitle {
      margin-top: 25px;
      font-size: 30px;
    }
    &__descr {
      margin-top: 10px;
    }
    &__list {
      margin-top: 40px;
      gap: 20px;
    }
  }
  .footer {
    padding: 50px 0 40px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
  .nav {
    &__row {
      column-gap: 20px;
    }
  }
  .promo {
    &__title {
      font-size: 30px;
      span {
        font-size: 40px;
      }
    }
  }

  @media (max-width: 391px) {
    .dark-mode-btn {
      order: 4;
      display: none;
    }
    .dark-mode-btn.active {
      display: flex;
    }
    .nav {
      &__list {
        column-gap: 19px;
      }
    }
  }
}
