.section {
  padding: 135px 0 70px;
  &__title {
    color: var(--accent);
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    line-height: 130%;
  }
  &__subtitle {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 130%;
    margin-top: 40px;
  }
  &__descr {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    margin-top: 20px;
    a {
      color: $accent;
    }
  }
  &__list {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
  &__item {
    max-width: 165px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    background-color: var(--card);
    transition: transform 1s ease;
    &:hover {
      transform: scale(0.9);
    }
    img {
      width: 125px;
      height: 125px;
      object-fit: contain;
    }
    &-subtitle {
      margin-top: 10px;
      font-size: 18px;
      font-weight: 500;
      line-height: 130%;
      text-align: center;
    }
  }
}
